*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Righteous', cursive;
	font-family: 'Roboto', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	line-height: 1;
}
.direct_flex{
	display: flex;
	align-items: center;
}
.icons_color{
	color: #AB7442;
}
header{
	position: fixed;
	width: 100%;
}
header .container_main{
	padding: 10px 48px;
	justify-content: space-between;
	background-color: #f5f5f5	;
}
header .container_main .right_side_container{
	gap: 28px;
}
header .container_main .right_side_container p{
	font-size: 16px;
	gap: 10px;
	font-weight: 400;
}
header .container_main .right_side_container i{
	font-size: 14px;
	margin-left: 4px;
}
header .container_main .left_side_container .contact{
	margin-right: 8px;
}
header .container_main .left_side_container .contact p{
	padding-right: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #555;
	padding-top: 5px;
}
header .container_main .left_side_container .contact i{
	margin-right: 3px;
	font-size: 14px;
}
header .container_main .left_side_container ul{
	align-items: center;
}
header .container_main .left_side_container .social_icons i{
	width: 32px;
	height: 32px;
	background-color: #fff;
	margin-right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header nav{
	background-color: #fff; 
}
header nav .nav_container{
	display: flex;
	justify-content: space-between;
	height: 75px;
}
header nav .nav_container .logo h1{
	padding: 24px 48px;		
	font-size: 2rem;
	font-family: 'Roboto';
	font-weight: 700;
	color: #AB7442;
}
header nav .nav_container_home{
	display: flex;
	align-items: center;
}
header nav .nav_container_home .home ul{
	display: flex;
}
header nav .nav_container_home .home ul li{
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Open Sans";
	margin-right: 27px;
}
header nav .nav_container_home .home ul li a{
	color: #000;	
	
}
header nav .nav_container_home .quote a{
	background-color: #AB7442;
	padding: 28px 50px;
	height: 75px;
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	font-family: "Open Sans";
	font-weight: 400;
}
header nav .nav_container_home .home ul li a:hover{
color: #AB7442;
}
main .banner .banner_img{
	background-image: url("img/carousel-1.jpg");
	background-size: cover;
	width: 1450;
	height: 800px;
}
main .banner .banner_img .text{
	background: rgba(53,53,53,.7);
	text-align: center;
	padding-top: 225px;
	color: #fff; 
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 215px;
}
main .banner .banner_img .text h6{
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}
main .banner .banner_img .text h1{
	font-size: 64px;
	font-weight: 900;
	width: 900px;
	padding-top:15px;
	line-height: 80px;
} 
main .banner .banner_img .text p{
	padding-top: 40px;
	font-size: 20px;
	width: 900px;
	font-weight: 500;
	font-family: "Open Sans";
	line-height: 30px;
}
main .banner .banner_img .button{
	padding-top: 50px;
}
main .banner .banner_img .button a{
	padding: 18px 50px;
	background-color:#AB7442;
	margin-right: 15px;
	color: #fff;
}
main .banner .banner_img .button a:nth-child(2){
	background-color: #fff;
	color: #000;
}
main .banner .banner_img .button a:hover{
	background-color: #b8895e;
}
main .banner .banner_img .button a:nth-child(2):hover{
	background-color: #fff;
}
.container_5_row{
	margin-top: 100px;
	display: flex;
	justify-content: space-evenly;	
}
.container_5_row .container_5 .only_card{
	width: 250px;
	height: 136px;
}
.container_5_row .container_5 .only_card .icon_num{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container_5_row .container_5 .only_card .icon{
	background-color: #f5f5f5;
	width: 60px;
	height: 60px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container_5_row .container_5 .only_card .icon i{
	font-size: 40px;
	color: #AB7442;
}
.container_5_row .container_5 .only_card .numder{
	font-size: 70px;
	font-weight: 900;
	text-align: right;
	color: #f5f5f5 ;
}
.container_5_row .container_5 .only_card .card-text h6{
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
}
.about .about_cards{
	margin-top: 100px;
	display: flex;
	
}
.about .about_cards .left_about_card img{
	width: 720px;
	height: 509px;
}
.about .about_cards .right_about_cards{
	padding-left: 50px;
	background-color: #f5f5f5;
	width: 720px;
}
.about .about_cards .right_about_cards .text h1{
	font-family: "Open Sans";	
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 24px;
	padding-top: 100px;
	color: #353535;
}
.about .about_cards .right_about_cards .text p{
	width: 600px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
	color: #555;
	letter-spacing: 2px;
	line-height: 22px;
}
.about .about_cards .right_client_card{
	display: flex;
	gap: 20px;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside{
	width: 290px;
	display: flex;
	gap: 20px;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside i{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 60px;
	height: 60px;
	color: #AB7442;
	background-color: #fff;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside .client h6{
	font-size: 32px;
	font-weight: 900;
	color: #AB7442;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside .client p{
	color: #696969;
	font-size: 18px;
	margin-top: 10px;
}
.about .about_cards .right_about_cards .button_about {
	margin-top: 50px;
}
.about .about_cards .right_about_cards .button_about a{
	font-size: 18px;
	padding: 20px 45px;
	background-color: #AB7442;
	color: #fff;
	letter-spacing: 1px;

}
.Service h2{
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
}
.Service .service_cards{
	margin: 50px 85px 65px 85px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.Service .service_cards .only_service_card{
	min-width: 350px;
	max-width: 400px;
	text-align: center;

}
.Service .service_cards .only_service_card .image_container{
	overflow: hidden;
	display: flex;
}
.Service .service_cards .only_service_card img{
	max-width: 100%;
	z-index: -1;
	transition: .3s;
}
.Service .only_service_card:hover img{
	transform: scale(1.1);
}
.Service .service_cards .only_service_card .text_service{
	border: 5px solid #eee;
	border-top: none;
	padding: 20px;
}
.Service .service_cards .only_service_card .text_service h6{
	font-size: 26px;
	font-weight: 900;

}
.Service .service_cards .only_service_card .text_service p{
	font-size: 18px;
	line-height: 22px;
	color: #353535;
	padding: 20px;
}
.Service .service_cards .only_service_card .text_service a{
	font-size:18px;
	color: #AB7442;
}
.Service .service_cards .only_service_card .text_service i{
	padding-left: 2px;
	font-weight: 900;
}.about .about_cards{
	margin-top: 100px;
	display: flex;
	
}
.about .about_cards .left_about_card img{
	width: 720px;
	height: 509px;
}
.about .about_cards .right_about_cards{
	padding-left: 50px;
	background-color: #f5f5f5;
	width: 720px;
}
.about .about_cards .right_about_cards .text h1{
	font-family: "Open Sans";	
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 24px;
	padding-top: 100px;
	color: #353535;
}
.about .about_cards .right_about_cards .text p{
	width: 600px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
	color: #555;
	letter-spacing: 2px;
	line-height: 22px;
}
.about .about_cards .right_client_card{
	display: flex;
	gap: 20px;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside{
	width: 290px;
	display: flex;
	gap: 20px;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside i{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 60px;
	height: 60px;
	color: #AB7442;
	background-color: #fff;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside .client h6{
	font-size: 32px;
	font-weight: 900;
	color: #AB7442;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside .client p{
	color: #696969;
	font-size: 18px;
	margin-top: 10px;
}
.about .about_cards .right_about_cards .button_about {
	margin-top: 50px;
}
.about .about_cards .right_about_cards .button_about a{
	font-size: 18px;
	padding: 20px 45px;
	background-color: #AB7442;
	color: #fff;
	letter-spacing: 1px;

}