*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Righteous', "cursive";
	font-family: 'Roboto', sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	line-height: 1;
}
.direct_flex{
	display: flex;
	align-items: center;
}
.icons_color{
	color: #AB7442;
}
header{
	position: fixed;
	width: 100%;
}
header .container_main{
	padding: 10px 48px;
	justify-content: space-between;
	background-color: #f5f5f5	;
}
header .container_main .right_side_container{
	gap: 28px;
}
header .container_main .right_side_container p{
	font-size: 16px;
	gap: 10px;
	font-weight: 400;
}
header .container_main .right_side_container i{
	font-size: 14px;
	margin-left: 4px;
}
header .container_main .left_side_container .contact{
	margin-right: 8px;
}
header .container_main .left_side_container .contact p{
	padding-right: 20px;
	font-size: 16px;
	font-weight: 400;
	color: #555;
	padding-top: 5px;
}
header .container_main .left_side_container .contact i{
	margin-right: 3px;
	font-size: 14px;
}
header .container_main .left_side_container ul{
	align-items: center;
}
header .container_main .left_side_container .social_icons i{
	width: 32px;
	height: 32px;
	background-color: #fff;
	margin-right: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header nav{
	background-color: #fff; 
}
header nav .nav_container{
	display: flex;
	justify-content: space-between;
	height: 75px;
}
header nav .nav_container .logo h1{
	padding: 24px 48px;		
	font-size: 2rem;
	font-family: 'Roboto';
	font-weight: 700;
	color: #AB7442;
}
header nav .nav_container_home{
	display: flex;
	align-items: center;
}
header nav .nav_container_home .home ul{
	display: flex;
}
header nav .nav_container_home .home ul li{
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Open Sans";
	margin-right: 27px;
}
header nav .nav_container_home .home ul li a{
	color: #000;	
	
}
header nav .nav_container_home .quote a{
	background-color: #AB7442;
	padding: 28px 50px;
	height: 75px;
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	font-family: "Open Sans";
	font-weight: 400;
}
header nav .nav_container_home .home ul li a:hover{
color: #AB7442;
}
main .banner .banner_img{
	background-image: url("img/carousel-1.jpg");
	background-size: cover;
	width: 1450;
	height: 800px;
}
main .banner .banner_img .text{
	background: rgba(53,53,53,.7);
	text-align: center;
	padding-top: 225px;
	color: #fff; 
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 215px;
}
main .banner .banner_img .text h6{
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
}
main .banner .banner_img .text h1{
	font-size: 64px;
	font-weight: 900;
	width: 900px;
	padding-top:15px;
	line-height: 80px;
} 
main .banner .banner_img .text p{
	padding-top: 40px;
	font-size: 20px;
	width: 900px;
	font-weight: 500;
	font-family: "Open Sans";
	line-height: 30px;
}
main .banner .banner_img .button{
	padding-top: 50px;
}
main .banner .banner_img .button a{
	padding: 18px 50px;
	background-color:#AB7442;
	margin-right: 15px;
	color: #fff;
}
main .banner .banner_img .button a:nth-child(2){
	background-color: #fff;
	color: #000;
}
main .banner .banner_img .button a:hover{
	background-color: #b8895e;
}
main .banner .banner_img .button a:nth-child(2):hover{
	background-color: #fff;
}
.container_5_row{
	margin-top: 100px;
	display: flex;
	justify-content: space-evenly;	
}
.container_5_row .container_5 .only_card{
	width: 250px;
	height: 136px;
}
.container_5_row .container_5 .only_card .icon_num{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.container_5_row .container_5 .only_card .icon{
	background-color: #f5f5f5;
	width: 60px;
	height: 60px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container_5_row .container_5 .only_card .icon i{
	font-size: 40px;
	color: #AB7442;
}
.container_5_row .container_5 .only_card .numder{
	font-size: 70px;
	font-weight: 900;
	text-align: right;
	color: #f5f5f5 ;
}
.container_5_row .container_5 .only_card .card-text h6{
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
}
.about .about_cards{
	margin-top: 100px;
	display: flex;
	
}
.about .about_cards .left_about_card img{
	width: 720px;
	height: 509px;
}
.about .about_cards .right_about_cards{
	padding-left: 50px;
	background-color: #f5f5f5;
	width: 720px;
}
.about .about_cards .right_about_cards .text h1{
	font-family: "Open Sans";	
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 24px;
	padding-top: 100px;
	color: #353535;
}
.about .about_cards .right_about_cards .text p{
	width: 600px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
	color: #555;
	letter-spacing: 2px;
	line-height: 22px;
}
.about .about_cards .right_client_card{
	display: flex;
	gap: 20px;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside{
	width: 290px;
	display: flex;
	gap: 20px;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside i{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 60px;
	height: 60px;
	color: #AB7442;
	background-color: #fff;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside .client h6{
	font-size: 32px;
	font-weight: 900;
	color: #AB7442;
}
.about .about_cards .right_about_cards .right_client_card .right_card_inside .client p{
	color: #696969;
	font-size: 18px;
	margin-top: 10px;
}
.about .about_cards .right_about_cards .button_about {
	margin-top: 50px;
}
.about .about_cards .right_about_cards .button_about a{
	font-size: 18px;
	padding: 20px 45px;
	background-color: #AB7442;
	color: #fff;
	letter-spacing: 1px;

}
.Service h2{
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
}
.Service .service_cards{
	margin: 50px 85px 65px 85px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.Service .service_cards .only_service_card{
	min-width: 350px;
	max-width: 400px;
	text-align: center;

}
.Service .service_cards .only_service_card .image_container{
	overflow: hidden;
	display: flex;
}
.Service .service_cards .only_service_card img{
	max-width: 100%;
	z-index: -1;
	transition: .3s;
}
.Service .only_service_card:hover img{
	transform: scale(1.1);
}
.Service .service_cards .only_service_card .text_service{
	border: 5px solid #eee;
	border-top: none;
	padding: 20px;
}
.Service .service_cards .only_service_card .text_service h6{
	font-size: 26px;
	font-weight: 900;

}
.Service .service_cards .only_service_card .text_service p{
	font-size: 18px;
	line-height: 22px;
	color: #353535;
	padding: 20px;
}
.Service .service_cards .only_service_card .text_service a{
	font-size:18px;
	color: #AB7442;
}
.Service .service_cards .only_service_card .text_service i{
	padding-left: 2px;
	font-weight: 900;
}	
.choose .choose_cards{
	display: flex;
	margin-top: 100px;
}
.choose .choose_cards .right_choose_card img{
	width: 720px;
	height: 500px;
}
.choose .choose_cards .left_choose_cards{
	padding-left: 50px;
	background-color: #f5f5f5;
	width: 720px;
}
.choose .choose_cards .left_choose_cards .choose-text h1{
	font-family: "Open Sans";	
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 24px;
	padding-top: 100px;
	color: #353535;
}
.choose .choose_cards .left_choose_cards .choose-text p{
	width: 600px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
	color: #555;
	letter-spacing: 2px;
	line-height: 22px;
}
.choose .choose_cards .left_choose_cards .left_choose_card{
	display: flex;
	gap: 20px;
	padding-top:20px ;
}
.choose .choose_cards .left_choose_cards .left_choose_card .right_choose_inside{
	width: 290px;
	display: flex;
	gap: 20px;
}
.choose .choose_cards .left_choose_cards .left_choose_card .right_choose_inside i{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	width: 60px;
	height: 60px;
	color: #AB7442;
	background-color: #fff;
}
.choose .choose_cards .left_choose_cards .left_choose_card .right_choose_inside h6{	
	font-size: 20px;
	font-weight: 900;
	margin-top: 10px;
	color: #000;
}
.choose .choose_cards .left_choose_cards .left_choose_card .right_choose_inside p{
	color: #696969;
	font-size: 18px;
}
.projects .heading h2{
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
	font-weight: 900;
}
.projects .all_projects{
	margin-top: 50px;
	text-align: center;
}
.projects .all_projects a{
	font-size: 18px;
	color: #353535;
	margin-right: 20px;
}
.projects .all_projects a:hover{
	color: #AB7442;
	text-decoration: underline;
}
.projects .project_cards{
	margin: 50px 85px 65px 85px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
}
.projects .project_cards .only_project_card{
	min-width: 350px;
	max-width: 400px;
	text-align: center;

}
.projects .project_cards .only_project_card .image_container{
	overflow: hidden;
	display: flex;
	position: relative;
}
.projects .project_cards .only_project_card .image_container img{
	max-width: 100%;
	z-index: -1;
	transition: .9s;
}
.projects .only_project_card:hover img{
	transform: scale(1.1);
}
.projects .project_cards .only_project_card .overplay{
	opacity: 0;
	position: absolute;
	bottom: 0px;
	/* right: 50%; */
	background: rgba(53,53,53,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: 1.1s;
}
.projects .project_cards .only_project_card .overplay a i{
		color: #fff;
		border: 1px solid #fff;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px;
			
}
.projects .only_project_card:hover .overplay {
	transform: scale(1.1);
	transform: translateY(-0%);
	opacity: 1;
	left: 0;
	animation: bottom-to-top 1s ;
}
@keyframes bottom-to-top{
	transform:transition(1s);
}

.projects .project_cards .only_project_card .text_project{
	border: 5px solid #eee;
	border-top: none;
	padding: 20px;
}
.projects .project_cards .only_project_card .text_project h6{
	font-size: 26px;
	font-weight: 900;

}
.projects .project_cards .only_project_card .text_project p{
	font-size: 18px;
	line-height: 22px;
	color: #353535;
	padding: 20px;
}
.projects .project_cards .only_project_card .text_project a{
	font-size:18px;
	color: #AB7442;
}
.projects .project_cards .only_project_card .text_project i{
	padding-left: 2px;
	font-weight: 900;
}
.quote .quote_cards{
	margin-top: 100px;
	display: flex;
	
}
.quote .quote_cards .left_quote_card img{
	width: 720px;
	height: 659px;
}
.quote .quote_cards .right_quote_cards{
	padding-left: 50px;
	background-color: #f5f5f5;
	width: 720px;
}
.quote .quote_cards .right_quote_cards .quote-text h1{
	font-family: "Open Sans";	
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 24px;
	padding-top: 100px;
	color: #353535;
}
.quote .quote_cards .right_quote_cards .quote-text p{
	width: 600px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 24px;
	color: #555;
	letter-spacing: 2px;
	line-height: 22px;
}
.quote .quote_cards .right_quote_cards .form_quote input{
	width: 310px;
	height: 55px;
	padding: 6px 12px;
	font-size: 16px;
	font-weight: 400;
	margin: 8px;
	border: none;
	color: #696969;
	background-color: #fff;
}
.quote .quote_cards .right_quote_cards .form_quote select{
	width: 310px;
	height: 55px;
	font-size: 16px;
	font-weight: 200;
	padding: 6px 12px;
	margin: 8px;
	border: none;
	color: #696969;
	background-color: #fff;
}
.quote .quote_cards .right_quote_cards .form_quote textarea{
	width: 640px;
	height: 60px;
	margin: 8px;
	padding: 6px 12px;
	font-size: 16px;
	font-weight: 400;
	color: #696969;
	background-color: #fff;
	border: none;
}
.quote .quote_cards .right_quote_cards .form_quote button{
	width: 640px;
	height: 60px;
	margin: 8px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	background-color: #AB7442;
	border: none;
	cursor: pointer;
}
.quote .quote_cards .right_quote_cards .form_quote button:hover{
	background-color: #b8895e;
}
.team_members {
	padding: 0px 80px;
}
.team_members h1{
	margin-top: 100px;
	text-align: center;
	font-size: 46px;
	font-weight: 900;
	font-family: "Open Sans";
	margin-bottom: 60px;
}
.team_members .members{
	display: flex;
	gap: 25px;
}
.team_members .members .only_member{
	min-width: 250px;
	max-width: 300px ;
}
.team_members .members .only_member .img_container_members{
	overflow: hidden;
	position: relative;
	z-index:-1;
}
.team_members .members .only_member .img_container_members img{
	width: 100%;
	display: flex;
	transition: .5s;
	z-index: -1;
}
.team_members .members .only_member:hover img{
	transform: scale(1.1);

}
.team_members .members .only_member .img_container_members .overplay_icon{
	opacity: 0;
	transition: 1.1s;
}
.team_members .members .only_member .img_container_members .overplay_icon ul{
	background-color: #fff;
	padding: 2px;
	position: absolute;
	top: 100px;
}
.team_members .members .only_member .img_container_members .overplay_icon ul i{
	padding: 10px;
	color: #b8895e;
}
.team_members .members .only_member:hover .overplay_icon{
	opacity: 1;
}
.team_members .members .text_members{
	border: 5px solid #eee;
	border-top: none;
	padding: 20px;
	text-align: center;
	font-family:"Open Sans" ;
}
.team_members .members .text_members h6{
	font-size: 20px;
	font-weight: 600;
}
.team_members .members .text_members p{
	padding: 10px 0px;
	font-size: 14px;
	font-weight: 100;
}
.testimonial{
	text-align: center;
}
.testimonial .heading{
	margin-top	: 100px;
	text-align: center;
	font-size: 50px;
	font-family: "Open Sans";
	font-weight: 800;margin-bottom: 50px;
}
.testimonial .testimonial_img{
	width: 90px;
	height: 90px;
	margin: auto;

}
.testimonial .testimonial_img img{
	width: 100%;
	border: 10px solid #eee;
}
.testimonial_text {
	width: 640px;
	border: 5px solid #eee;
	margin: auto;
	padding: 24px;
	margin-top: 20px;
	margin-bottom: 100px ;
}
.testimonial_text p{
	font-size: 18px;
	font-weight: 400;
	color: #555;
	margin-top: 16px;
	line-height: 25px;
}
.testimonial_text h6{
	font-size: 20px;
	font-weight: 600;
	color: #353535;
	margin-bottom: 10px;
}
.testimonial_text em{
	font-size: 18px;
	font-style: italic;
	color: #555;
}
footer{
	padding: 10px 50px;
	background-color: #313131;
}
footer .footer{
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}
footer .footer .address h5{
	font-size:22px;
	font-weight: 900;
	margin-bottom: 25px;
}
footer .footer .address .add .mb{
	font-size: 17px;
	margin-bottom: 15px;
}
footer .footer .address .add .mb p i{
	margin-right: 10px;
}
footer .footer .address .social_icons ul{
	display: flex;
}
footer .footer .address .social_icons ul li{
	margin-right: 5px;
	border: 1px solid #fff;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .footer .address .social_icons ul li:hover{
	color: #AB7442;
	background-color: #fff;
}
footer .footer .services h5{
	font-size:22px;
	font-weight: 900;
	margin-bottom: 25px;
}
footer .footer .services .text_services {
	margin-bottom: 15px;
}
footer .footer .services .text_services a{
	color: #fff;
	font-size: 17px;
	transition: .3s;
}
footer .footer .services .text_services a:hover{
	letter-spacing: 1px;
	color: #AB7442;
}
footer .footer .services .text_services i{
	margin-right: 10px;
}
footer .footer .links h5{
	font-size:22px;
	font-weight: 900;
	margin-bottom: 25px;
}
footer .footer .links .text_link {
	margin-bottom: 15px;
}
footer .footer .links .text_link a{
	color: #fff;
	font-size: 17px;
	transition: .3s;
}
footer .footer .links .text_link a:hover{
	letter-spacing: 1px;
	color: #AB7442;
}
footer .footer .links .text_link i{
	margin-right: 10px;
}
footer .footer .letter h5{
	font-size:22px;
	font-weight: 900;
	margin-bottom: 25px;
}
footer .footer .letter .letter_text p{
	font-size: 17px;
	width: 250px;
	margin-bottom: 20px;
}
footer .footer .letter .form_letter{
	position: relative;

}
footer .footer .letter .form_letter input{
	width: 290px;
	height: 56px;
	padding-left: 20px;
	font-size: 16px;
	border: none;
}
footer .footer .letter .form_letter a{
	font-size: 18px;
	padding: 12px 20px;
	color: #fff;
	background-color: #AB7442;
	position: absolute;
	left: 187px;
	top: 7px;
}
footer .copyright{
	padding: 25px;
	border-top: 1px solid rgba(256,256,256,.1);
	display: flex;
	justify-content: space-between;
	color: #fff;
}
footer .copyright a{
	color: #fff;
	border-bottom: 1px solid #fff;
}
footer .copyright a:hover{
	color: #AB7442;
}
